*~
*#
*.swp

*.DS_Store

*__pycache__
__pycache__/
/__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.JPEG


/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/doc/_apidoc/
/build

# data folders
ImagenetSampleImages/*
SouthGermanCredit/*
adult.zip
gallery.md